@page "/courses"
@model CoursesModel
<h2>List of all courses</h2>
<a href="/Courses/create" class="btn btn-success"><i class="bi bi-plus-lg"></i>New Courses</a>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Name</th>
      <th scope="col">TextBook</th>
      <th scope="col">CreditHrs</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    @foreach(var course in Model.Courses)
    {
        <tr>
            <td>@course.Id</td>
            <td>@course.Name</td>
            <td>@course.TextBook</td>
            <td>@course.CreditHrs</td>
            <td>
            <a href="/courses/edit/@course.Id" ><i class="bi bi-pencil text-warning"></i></a>
            <a href="/courses/delete/@course.Id" ><i class="bi bi-trash3 text-danger"></i></a>
            </td>  
        </tr>
    }
  </tbody>
</table>